
.DS_Store
Chapter8/.ipynb_checkpoints/RydenPoggeCh8-checkpoint.ipynb
Chapter9/.ipynb_checkpoints/RydenPoggeCh9-checkpoint.ipynb
.ipynb_checkpoints/README-checkpoint.md
.ipynb_checkpoints/RydenPoggeCh8-checkpoint.ipynb
